{% load static %}
 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>
       {% if browser_title is not None %}
        {{ browser_title }}
       {% elif page_title is not None  %}
        {{ page_title }}
       {% else %}
         Default Page
       {% endif %}
     </title>
     <meta name="description" content="DESCRIPTION">
     <link rel="stylesheet" href="{% static "billing/css/site.min.css" %}">

     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="h1">
          {{ page_title }}
        </h1>
      </div>
    </div>
    {% block main_body %}
    {% endblock %}
    <script type="text/javascript" src="{% static "billing/js/site.min.js" %}"></script>
  </div>
 </body>

 </html>
